.shiftCard {
    border-bottom: 1px solid  var(--color-dullWhiteBlue);
    border-top: 1px solid  var(--color-dullWhiteBlue);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.timing {
    font-size: larger;
    color: var(  --color-dullBlue);
}

.bookBtn {
    color: var(  --color-darkGreen);
    background-color: transparent;
    border: 1px solid var(--color-darkGreen);
    padding: 8px 32px;
    border-radius: 24px;
    cursor: pointer;
}

.bookBtn:disabled {
    color: var(  --color-whiteGreen);
    border: 1px solid var(--color-whiteGreen);
    cursor: not-allowed;
}