.app {
    max-width: 720px;
    margin: auto;
    margin-bottom: 100px;
}

.shiftTabs {
    font-size: xx-large;
    margin-top: 60px;
    margin-bottom: 16px;
}

.shiftTabs > span {
    margin: 0 8px;
    cursor: pointer;
}

.shiftsBox {
    border: 1px solid var(  --color-dullWhiteBlue);
    border-radius: 4px;
    background: var(  --color-whitest);
}